{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>HHR - Cafe</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">



    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
    <![endif]-->

</head>
<body>
{% if user.is_authenticated %}
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Galeri Menu</a>
                            <ul class="dropdown-menu">
                                <li><a href="/menu">Minuman</a></li>
                                <li><a href="/menu">Makanan</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="/my_orders" class="nav-link dropdown-toggle">PesananKu</a>
                        </li>
                        {% if request.user.is_staff %}
                        
                        <li class="dropdown">
                            <a href="{% url "all_orders_view" %}" class="nav-link dropdown-toggle">All orders</a>
                        </li>
                        <li class="dropdown">
                            <a href="/admin" class="nav-link dropdown-toggle">Admin Panel</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu">
                            <a href="/cart">
                                <i class="fa fa-shopping-bag"></i>
                                <p>My Cart</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        <li>
                            <a href="#" class="photo"><img src="{% static 'images/img-pro-01.png' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Cappucino </a></h6>
                            <p>1x - <span class="price">Rp. 18000,-</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="{% static 'images/img-pro-02.png' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Salad</a></h6>
                            <p>1x - <span class="price">Rp. 12000,-</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="{% static 'images/img-pro-03.png' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Shoestring</a></h6>
                            <p>1x - <span class="price">Rp. 12000,-</span></p>
                        </li>
                        <li class="total">
                            <span class="float-right"><strong>Total</strong>: Rp. 42000,-</span>
                            <a href="#" class="btn btn-default hvr-hover btn-cart">LIHAT KERANJANG</a>

                        </li>
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

{% else %}

<div class="container-fluid" style="height: 2000px">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <form role="form" action="{% url "login_view" %}" autocomplete="off" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                             
                            <label for="exampleInputEmail1">
                                Username
                            </label>
                            <input name="username" class="form-control" id="exampleInputEmail1" />
                        </div>
                        <div class="form-group">
                             
                            <label for="exampleInputPassword1">
                                Password
                            </label>
                            <input name="password" type="password" class="form-control" id="exampleInputPassword1" />
                        </div>
                        <div class="form-group">
                             
                            <label for="exampleInputEmail1">
                                No. Meja
                            </label>
                            <input name="meja" class="form-control" id="exampleInputEmail1" />
                        </div>
                        
                        <button type="submit" class="btn btn-danger">
                            Login
                        </button>
                    </form>
                    <a href="/register">
                        <button type="submit" class="btn btn-primary">
                            Register
                        </button>
                    </a>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
</div>



<body>


{% block body %}{% endblock %}


    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/inewsticker.js' %}"></script>
    <script src="{% static 'js/bootsnav.js."></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>
